<ion-view title="Calculator">
  <ion-content class="has-header padding">
      <div class="list">

          <a class="item item-icon-left" href="#">
              Distance
          </a>

          <a class="item item-icon-left item-icon-right" href="#">
              Time
          </a>

          <a class="item item-icon-left" href="#">
              Pace
                <span class="item-note">
                  Grammy
                </span>
          </a>

          <a class="item item-icon-left" href="#">
              Speed
           </a>


      </div>
  </ion-content>
</ion-view>
